# General Variables
WHITELISTED_WALLET_ADDRESS=<WALLET_ADDRESS>
WHITELISTED_WALLET_PRIVATE_KEY=0x<PRIVATE_KEY>
# Seller Agent Variables
SELLER_ENTITY_ID=<ENTITY_ID>
SELLER_AGENT_WALLET_ADDRESS=<WALLET_ADDRESS>
# Buyer Agent Variables
BUYER_ENTITY_ID=<ENTITY_ID>
BUYER_AGENT_WALLET_ADDRESS=<WALLET_ADDRESS>
